img {
    display: inline-block;
    max-width: 100%;
    height: 200px;
}
.services-block .inner-box .image img{
	display: block;
	width: 100%;
    height: 250px;
}
.sec-title .title{
	position: relative;
    color: #e9c37a;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    
}
.sec-title h2{
    position: relative;
    color: #222222;
    font-weight: 700;
    line-height: 1.3em;
	font-size:34px;
    text-transform: capitalize;
    text-align: center;
}
* {
	margin:0px;
	padding:0px;
	border:none;
    outline:none;
    display: inline;
}
.about-section .title-box .bold-text{
	position:relative;
	color:#222222;
	font-size:16px;
	line-height:1.6em;
	margin-top:auto;
	margin-bottom:20px;
}
.about-section .pattern-layer{
	position:absolute;
	right:0px;
	bottom:0px;
	
}

.testimonial-section-two{
	position:relative;
	padding:10px 0px 50px;
}
