.counter{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 178px;
    text-align: center;
    padding: 0 23px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background-color: #f4f4f4;
    border-radius: 0 1 100px 100px;
    position: absolute;
    bottom: 0px;
    top: 30px;
    left: 15px;
    right: 15px;
    z-index: -1;
}

.counter .counter-icon{
    color: #fff;
    background: linear-gradient(to right,#e9c37a,#e9c37a);
    font-size: 30px;
    line-height: 65px;
    width: 75px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.counter:hover .counter-icon i{
    transform: rotateX(720deg);
    transition: all 0.3s ease;
}
.counter h3{
    color: #812160;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.counter .counter-value{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: block;
}