.about-us-text{
    line-height: 30px;
    font-size: 17px;
    font-family: Roboto;
    padding: 10px;
    letter-spacing: 0.07em;
    font-weight: 400;
    color: #484848;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: justify;
}
.services-section{
    background-image: url("../images/background/13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.project-section-two::before{
    position: absolute;
    background-color: rgba(48,48,48,0.90);
}
.strength-section{
 background-repeat: no-repeat;
 background-position: center;
 /* background-size: cover; */
}
.strength-box{
    text-align: center;
    padding: 0 2rem;
}
.strength-box:hover .img{
    border-color: #e9c37a;
  animation: pulse 3000ms infinite;
}
.bg-img1{
    background-image: url("../images/main_img/bg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.light-bg{
    background-color: #082c4b
}
.strength-img {
    position: relative;
}
.strength-img img{
    height: 189px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 22px;
    display: inline-block;
    border: 10px solid #fff;
    transition: all 0.3s ease-in-out;
}
.sl-number{
    position: absolute;
    top: -15px;
    right: 136px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: #e9c37a;
}
.strength-title{
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.why-choose-us img{
    width: 100%;
    height: 128px;
    left: 0;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s linear 0s;
}
.why-choose-us{
    align-items: center;
    max-width: 28% !important;
    margin: 10px;
    height: 390px !important;
}
.choose-heading{
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    padding: 35px 0 0;
    font-family: Roboto;
    color: #000;
}
.choose-text{
    line-height: 28px;
    font-size: 15px;
    font-family: Roboto;
    color: #000;
}
.choose-icon{
    width: 13% !important;
    height: 60px !important;
    position: absolute;
    margin-left: 43%;
    margin-top: 6%;
}
.back-img{
    background-color: #e9c37a;
    width: 94%;
    height: 260px;
    position: absolute;
    top: 50px;
    right: 46px;
    border-radius: 10px;
    z-index: -1;
    transition: all 0.5s ease;
}
.img-radius{
    border-radius: 10px;
}
.hover-bg-black:hover .back-img{
    background-color: #000000;
    z-index: -1;
    transition: all 0.5s ease;
    width: 94%;
    height: 255px;
    right: 42px;
}
.latest-text{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: Roboto;
}
.latest-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Roboto;
}
.latest-block-heading{
    font-size: 34px;
    font-weight: 800;
    margin: 2% 0px 2% 0px;
    font-family: Roboto;
}
.latest-block-padding{
    padding: 40px 40px 0px 40px;
}
.main-footer .footer-widget h2:before{
    left: auto;
    right: auto;
    width: 82px;

}
.footer-contact{
    padding: 10px;
}
.footer-text a{
    color: #fff;
}
.choose-text-div{
    margin-top: 9%;
}
.margin-heading{
    margin: 5% 0px 5% 0px;
}
.text-white{
    color: #fff;
}
.owl-carousel .owl-item img{
    height: 200px;
}
.ourproject-images-height{
    max-height: 330px;
    min-width: 560px;
    min-height: 280px;
    max-width: 550px;
}
.team-image-height{
    min-height: 200px !important;
    max-height: 200px !important;
    border-radius: 10px;
    border: none;
 }
 .desk-none{
     display: none;
 }
 .desk-block{
     display: block;
 }
 .main-footer .footer-bottom-image .image:before{
    z-index: 0;       
}
.heading-style{
    margin-bottom: 0px !important;
    margin-top: 3%;
}
.about-heading{
    margin: 1% 0px 2% 0px;
}
.style-heading{
    margin: 1% 0px 1% 0px
}
.project-block{
    margin-bottom: 6%;
}