.logo_img{
    height: 65px;
}
.header-style-three .header-upper .inner-container{
    height: 80px;
}
.logo-small{
    height: 60px;
}
.heading-section{
    width: 51.1%;
    padding-top: 130px;
    padding-bottom: 105px;
    position: relative;
    background-color: #e9c37a;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.heading-section .text{
    font-family: 'FuturaStd Medium',sans-serif;
    padding: 0 10%;
    width: 100%;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 48px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-transform: none;
}
.about-img{
    width: 48.9%;
    left: -54px;
    top: 23px;
    position: relative;
    z-index: -1;
    
}
.about-img img{
    border: 3px solid #FFF;
}
.about-img1{
    width: 43%;
    left: 15px;
    top: -45px;
    z-index: -1;
    position: relative;
    border: 3px solid #FFF;
}
.about-img2{
    width: 49%;
    top: -229px;
    left: 16px;
    z-index: -2;
    position: relative;
    /* border: 3px solid #FFF; */
}
.radius-7{
    border-radius: 7px;
}
.mb-neg-80{
    margin-bottom: -80px;
}
.bottom-width{
    height: 300px;
  width: 300px;
    shape-outside: polygon(0 0, 0 300px, 200px 300px);
    clip-path: polygon(0 0, 0 300px, 200px 300px);
    /* position: absolute */
}
.services-cards{
    border: none;
    margin: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
.services-cards:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s ease-in-out;
}
.font-28{
    font-size: 28px !important;
}
.service-card-text{
    line-height: 30px;
    font-size: 17px;
    font-family: Roboto;
    padding: 10px;
    letter-spacing: 0.07em;
    font-weight: 400;
    color: #000;
    /* margin-top: 15%; */
    margin-bottom: 15%;
    text-align: justify;
}
.latest-block-heading{
    color: #222222;
}
.pl-40{
    padding-left: 40px;
} 
.pr-40{
    padding-right: 40px;
}