@media only screen and (min-width: 320px)and (max-width: 480px){
    .heading-section{
        width: 100%;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .heading-section .text{
        font-size: 23px;
        line-height: 43px;
    }
    .mobile-repsonsive{
        margin-right: -10%;
        margin-left: auto;
    }
    .about-img{
        width: 100%;
        left: 0px;
    }
    .about-img1,.about-img2{
        display: none;
    }
    .about-us-text{
        margin-top: 45%;
        margin-bottom: 10%;
    }
    .services-block-six .inner-box .overlay-inner .text{
        font-size: 11px;
    }
    .why-choose-us{
        max-width: 80% !important;
        height: 345px !important;
    }
    .strength-img img{
        width: 75%;
    }
    .strength-box{
        margin-bottom: 8%;
    }
    .ourproject-images-height{
        max-height: none;
        min-height: auto;
        max-width: 100%;
        min-width: 100%;
    }
    .mobile-about-us{
        padding-right: 0px;
    }
    .mobile-about-us .about-text{
        margin-top: 5%;
    }
    .mobile-width{
        width: 100% !important;
    }
    .latest-block-padding{
        padding: 0px;
    }
    .mobi-no-pb{
        padding-bottom: 0px !important;
        padding-right: 0px;
    }
    .mob-no-pt{
        padding-top: 0px !important;
        padding-right: 0px;
    }
    .mobile-center{
        display: flex;
        justify-content: center;
    }
    .mobile-mt{
        margin-top: 7% !important
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .mobile-none{
        display: none;
    }
    .mobile-block{
        display: block;
    }
    .page-title{
        padding: 0px;
        background-size: contain;
    }
    .page-title h2{
        line-height: 1.0em;
    }
    .page-title .page-breadcrumb{
        display: none;
    }
    .mobile-sub-text{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 320px){
    .back-img{
        width: 86%;
        height: 90px;
        top: 25px;
        right: 41px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px){
    .back-img{
        width: 87%;
        height: 114px;
        top: 24px;
        right: 41px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 426px){
    .back-img{
        width: 89%;
        height: 112px;
        top: 49px;
        right: 41px;
    }
}
@media only screen and (min-width: 427px) and (max-width: 768px){
    .ourproject-images-height{
        max-height: 346px;
        max-width: 342px;
        min-width: 343px;
        min-height: 346px;
    }
    .ourproject-images-height1{
        max-height: 346px;
    max-width: 314px;
    min-width: 320px;
    min-height: 435px;
    }
    .latest-block-padding{
        padding: 0px;
    }
    .tab-left-padding{
        padding-left: 40px;
    }
    .tab-pr-0{
        padding-right: 0px;
    }
    .tab-right-padding{
        padding-right: 40px;
    }
    .mobile-sub-text{
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-title .page-breadcrumb{
        display: none;
    }
    .page-title{
        padding: 19px 0px 1px 0px;
    }
    .back-img{
        top: 43px;
        right: 46px;
        height: 280px;
    }
    .about-img,.about-img1,.about-img2{
        display: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .tab-heading-section{
        width: 100%;
        padding-top: 70px;
        padding-bottom: 90px;
        margin-top: 29%;
    }
    .strength-img img{
        height: 165px;
        width: 200%;
    }
    .testimonial-block-three .inner-box .text{
        padding-left: 40px;
        padding-right: 40px
    }
}