
.team-page-section .team-block{
    padding-bottom:100px;
    display:inline-block;
}

.team-page-section .team-block{
	padding:0px 15px 0px 0px;
	display:inline-block;
}
img{
	display:inline-block;
	max-width:100%;
	height:autopx;	
}
