.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin: 10px;
	padding:0px;
	border: 2px solid red;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .card>img{

	max-width: 100%;
	height:300px !important ;

}
  
  /* Add some padding inside the card container */
  .container {
	padding: 10px;
  }